<!DOCTYPE html>
<html>
<head>
    <title>Document - <Entry Code></title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="path/to/editor/style.css"> </head>
<body>
    <div id="editor-page">
        <div id="editor-container"></div> <div id="splitter"></div>
        <div id="output-container">
            <iframe id="output-frame"></iframe>
        </div>
        <button id="open-new-page">Open Output in New Page</button>
    </div>

    <script src="path/to/editor/ace.js"></script> <script src="/static/js/app.js"></script> </body>
</html>